$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$light-background: #eeeeee;
$medium-background: #e0e0e0;
$dark-background: #212121;


* {
    padding: 0;
    box-sizing: border-box;
}

@mixin card__shadow {
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

@mixin favorite__heart {
    .hearts {
        display: flex;
        .nonfavorite {
            width: 100%;
        }
        .favorite {
            width: 100%;
            margin-left: -100%;
            opacity: 0;
            &:hover {
                opacity: 1.0;
            }
            &:visited {
                opacity: 1.0;
            }
        }
    }
}


.footer {
    background: $dark-background;
    color: white;
    .logo__footer {
        display: flex;
        width: 30%;
        justify-content: start;
        .logo {
            object-fit: contain;
            width: 30%;
            height: auto;
            
        }
    }
}