* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.loader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation: disappear 5000ms ease-out 2s forwards;

    .loader {
        height: 15px;
        width: 105px;
        display: flex;
        position: relative;

        .dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $tertiary-color;
            animation: move 700ms linear 0ms infinite;
            margin-right: 30px;
          
            &:first-child {
                position: absolute;
                top:0;
                left:0;
                animation: grow 700ms linear 0ms infinite;
            }
          
            &:last-child {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 0;
                animation: grow 700ms linear 0s infinite reverse;
            }
        }
    }

}


.home__logo {
    display: flex;
    justify-content: center;
    
    .logo__top {
        margin: 10px 0px 10px 0px;
    }
}

.searchbox {
    display: flex;
    background-color: $medium-background;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    border-top: solid 3px #c0c0c0;
    
    .search_bar[type=text] {
        border: none;
        background-color: $medium-background;
        margin: 0px 0px 0px 20px;
        &::placeholder {
            color: black;  
            font-size: 16px;        /*/ pseudo element missing? /*/ 
        }
    }
}

.home__title {
    background-color: $light-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 50px 0px;
    
    p {
        font-size: 18px;
        padding: 0px 40px 0px 40px;
        text-align: center;
        font-weight: 200;
    }
}

.howitworks {
    padding: 20px 30px 50px 30px; 
    
    .how__item {
        display: flex;
        flex-direction: row;
        background-color: $light-background;
        border-radius: 15px;
        margin: 5px 10px 20px 10px;
        padding: 25px 10px 20px 10px;
        @include card__shadow;
        
        .circle {
            box-sizing: border-box;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            background-color: $primary-color;
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 26px;
            position: absolute;
            margin-left: -20px;
            padding: 2px 2px 2px 2px;
        }
        
        .how__icon {
            margin: 0px 10px 0px 20px;
            color: $darkgrey-copy;
            font-size: 16px;
        }
        
        .how__listcopy {
            margin: 0px 10px 0px 10px;
        }
        
        &:hover {
            background-color: lighten($primary-color, 33%);  
                
            .how__icon {
                color: $primary-color;
            }
        }
    }
}

.restaurants {
    padding: 30px 20px 40px 20px;
    background-color: $light-background;
    width: 100%;
    
    .restaurant__card {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        background: white;
        border-radius: 20px;
        margin: 15px 0px 15px 0px;
        padding: 0px;
        font-size: 14px;
        position: relative;
        @include card__shadow;

        .home__imgbox {
            height: 200px;
            width: 100%;
            overflow: hidden; 
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        
            .restaurant__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .newtag {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 25px 5px 25px; 
            background-color: $tertiary-color;
            color: darken($tertiary-color, 40%);
            border-radius: 2px;
        }
        
        .restaurantcard__text {
            display: flex;
            flex-direction: column;
            margin: 10px 10px 10px 20px;
            position: relative;
            @include favorite__heart;
        
            .restaurant__name {
                font-weight: 500;
                font-size: 16px;
                margin: 5px 0px 5px 0px;
            }
        
            .restaurant__city {
                font-weight: 300;
                font-size: 16px;
                margin: 0px 0px 5px 0px;
            }

            .hearts {
                position: absolute;
                top: 10px;
                right: 0px;
            }
        }
    }
}