* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.home__logo {
    display: flex;
    justify-content: center;
    
    .logo__top {
        margin: 10px 0px 10px 0px;
    }
}

.searchbox {
    display: flex;
    background-color: $medium-background;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    border-top: solid 3px #c0c0c0;
    
    .search_bar[type=text] {
        border: none;
        background-color: $medium-background;
        margin: 0px 0px 0px 20px;
        &::placeholder {
            font-color: black;  
            font-size: 16px;          /*/why isn't this working?/*/
        }
    }
}

.home__title {
    background-color: $light-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 50px 0px;
    
    h3 {
        line-height: 24px;
        padding: 10px;
    }
    
    p {
        font-size: 18px;
        padding: 0px 40px 0px 40px;
        text-align: center;
        font-weight: 200;
    }
}

.howitworks {
    padding: 20px 30px 60px 30px;
    
    h3 {
        margin: 50px 0px 30px 0px;
    }
    
    .how__item {
        display: flex;
        flex-direction: row;
        background-color: $light-background;
        border-radius: 15px;
        margin: 5px 10px 20px 10px;
        padding: 25px 10px 20px 10px;
        @include card__shadow;
        
        .circle {
            box-sizing: border-box;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            background-color: $primary-color;
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 26px;
            position: absolute;
            margin-left: -20px;
            padding: 2px 2px 2px 2px;
        }
        
        .how__icon {
            margin: 0px 10px 0px 20px;
            color: $darkgrey-copy;
            font-size: 16px;
        }
        
        .how__listcopy {
            margin: 0px 10px 0px 10px;
        }
        
        &:hover {
            background-color: lighten($primary-color, 33%);  
                
            .how__icon {
                color: $primary-color;
            }
        }
    }
}

.restaurants {
    padding: 60px 20px 20px 20px;
    background-color: $light-background;
    width: 100%;
    
    .restaurant__card {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        background: white;
        border-radius: 20px;
        margin: 15px 0px 15px 0px;
        padding: 0px;
        font-size: 14px;
        @include card__shadow;

        .home__imgbox {
            height: 200px;
            overflow: hidden; 
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        
            .restaurant__img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .newtag {
            position: absolute;
            padding: 5px 25px 5px 25px;
            margin: 10px 10px 0px 67%;      //what to do instead of px or % to make responsive?//
            background-color: $tertiary-color;
            color: darken($tertiary-color, 40%);
            border-radius: 2px;
        }
        
        .restaurantcard__text {
            display: flex;
            flex-direction: column;
            margin: 10px 20px 10px 20px;
            @include favorite__heart;
        
            .restaurant__name {
                font-weight: 500;
                font-size: 16px;
                margin: 5px 0px 5px 0px;
            }
        
            .restaurant__city {
                font-weight: 300;
                font-size: 16px;
                margin: 0px 0px 5px 0px;
            }

            .hearts {
                position: absolute;
                margin: 10px 20px 0px 75%;
            }
        }
    }
}