* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.logo__nav {
    display: block;
    position: relative;
    text-align: center;

    .arrow {   
        text-align: left;
        margin-left: 10px;
        position: absolute;
        font-size: 20px;
        top: 12px;
        bottom: 0;
        left: 10px;
    }
    
    .logo {
        object-fit: contain;
        width: 40%;
        height: auto;
        margin: 10px 0px 10px 0px;
    }
}

.restaurantpage__imgbox {
    display: flex;
    width: 100%;
    
    .restaurantpage__img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.menu__container {
    flex-direction: column;
    background: $light-background;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: -45px 0px 0px 0px;
    padding: 0px 10px 45px 10px;
    z-index: 5;
    height: 110vh;
    width: 100%;
    justify-content: center;
    
    .menu__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 10px 10px 10px;
        
        .menu__name {
            font-family: "Shrikhand", Times, serif;
            font-size: 24px;
        }
        @include favorite__heart;
    }
    
    .menu__subhead {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0px 5px 0px;
    background: linear-gradient($tertiary-color 0 0) bottom left/ 10% 2px no-repeat,
    }
    
    .dish__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        padding: 0px 0px 10px 0px;
        @include card__shadow;
        
        .dish-cont__col-1 {
            padding: 0px 0px 0px 10px;
            flex-direction: column;
            
            .dish__name {
                font-size: 14px;
                margin: 10px 0px 0px 0px;
                font-weight: 500;
            }
            
            .dish__descript {
                font-size: 12px;
            }
        }
        
        .dish-cont__col-2 {
            padding: 0px 10px 0px 0px;
            display: flex;
            
            .dish__price {
                font-size: 12px;
                align-self: flex-end;
            }
                
            &:hover {
                    margin-right: 50px;
            }
            
            .dish__checkbox {
                opacity: 0;
            }
                &:hover {
                display: flex;
                height: 100%;
                background-color: $tertiary-color;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                padding: 0px 0px 10px 0px;
                }
        }
    }
    .dish__container + .dish__container {
        margin: 15px 0px 0px 0px;
    }
    .button__box {
        text-align: center;
        margin: 40px 0px 50px 0px;
        .order {
            padding: 15px 65px 15px 65px;
        }
    }
}


