* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.logo__nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px 10px 0px;
    .fa-arrow-left {
        padding: 0em 5em 0em 1em;
    }
    .logo {
        object-fit: contain;
        width: 40%;
        height: auto;
        justify-content: center;
    }
}
.hero__img {
    display: flex;
    width: 100%;
    .restaurant__img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.menu__container {
    background: $light-background;
}

.menu__head {
    .menu__name {
        font-family: "Shrikhand", Times, serif;
    }
    .nonfavorite {
    }
    .favorite {
        display: none;
    }
}

.menu__subhead {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

