* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.logo__nav {
    display: block;
    position: relative;
    text-align: center;

    .arrow {   
        text-align: left;
        margin-left: 10px;
        position: absolute;
        font-size: 20px;
        top: 12px;
        bottom: 0;
        left: 10px;
        
        @media (min-width: $breakpoint-tablet) {
            font-size: 30px;
            top: 15px;
        }

        @media (min-width: $breakpoint-desktop) {
            top: 15px;
        }
    }
    
    .logo {
        object-fit: contain;
        width: 40%;
        height: auto;
        margin: 10px 0px 10px 0px;

        @media (min-width: $breakpoint-tablet) {
            width: 30%;
        }

        @media (min-width: $breakpoint-desktop) {
            width: 18%;
        }
    }
}

.restaurantpage__imgbox {
    display: flex;
    width: 100%;
    overflow: hidden;

    @media (min-width: $breakpoint-tablet) {
        position: relative;
    }
    
    .restaurantpage__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        @media (min-width: $breakpoint-tablet) {
            height: auto;
            width: 210%;
        }
        @media (min-width: $breakpoint-desktop) {
            height: auto;
            width: 190%;
        }

        @media (min-width: $breakpoint-widescreen) {
            width: 160%;
        }
    }
}

.menu__container {
    display: inline-block;
    flex-direction: column;
    background: $light-background;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: -45px 0px 0px 0px;
    padding: 0px 10px 45px 10px;
    z-index: 5;
    height: 110vh;
    width: 100%;
    justify-content: center;

    @media (min-width: $breakpoint-tablet) {
        padding: 0px 10px 0px 10px;
        margin: 0px 40px 20px 40px;
        width: auto;
        height: auto;
        position: absolute;
        top: 12%;
        justify-self: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    @media (min-width: $breakpoint-desktop) {
        top: 15%;
        left: 2%;
    }
    
    .menu__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 10px 10px 10px;

        @media (min-width: $breakpoint-desktop) {
            padding: 20px 10px 10px 20px;
        }
        
        .menu__name {
            font-family: "Shrikhand", Times, serif;
            font-size: 24px;

            @media (min-width: $breakpoint-tablet) {
                font-size: 30px;
            }
        }
        @include favorite__heart;
    }
    
    .menu__subhead {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0px 5px 0px;
    background: linear-gradient($tertiary-color 0 0) bottom left/ 10% 2px no-repeat;
        
        @media (min-width: $breakpoint-tablet) {
            font-size: 16px;
        }
    }
    
    .dish__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        opacity: 0;
        animation: fadein 3s linear forwards;
        @include card__shadow;

        &:nth-of-type(2) {
            animation-delay: .2s;
        }

        &:nth-of-type(2) {
            animation-delay: .4s;
        }

        &:nth-of-type(3) {
            animation-delay: .6s;
        }

        &:nth-of-type(4) {
            animation-delay: .8s;
        }

        &:nth-of-type(5) {
            animation-delay: 1s;
        }

        &:nth-of-type(6) {
            animation-delay: 1.2s;
        }

        &:nth-of-type(7) {
            animation-delay: 1.4s;
        }

        &:nth-of-type(8) {
            animation-delay: 1.6s;
        }

        &:nth-of-type(9) {
            animation-delay: 1.8s;  /*/ why is this not opacity 1 to start? /*/
        }

        &:nth-of-type(10) {
            animation-delay: 2s;  /*/ why is this not opacity 1 to start? /*/
        }

        &:nth-of-type(11) {
            animation-delay: 2.2s;  /*/ why is this not opacity 1 to start? /*/
        }
        
        .dish-cont__col-1 {
            padding: 0px 0px 10px 10px;
            flex-direction: column;

            @media (min-width: $breakpoint-desktop) {
                padding: 0px 0px 10px 30px
            }
            
            .dish__name {
                font-size: 14px;
                margin: 10px 0px 0px 0px;
                font-weight: 500;

                @media (min-width: $breakpoint-tablet) {
                    font-size: 16px;
                }
            }
            
            .dish__descript {
                font-size: 12px;
                padding: 0px 10px 0px 0px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;   /*/ how to make this break with ellipses? /*/

                @media (min-width: $breakpoint-tablet) {
                    font-size: 16px;
                    padding: 0px 30px 0px 0px;
                }

                @media (min-width: $breakpoint-desktop) {
                    padding: 0px 60px 0px 0px;
                }
                
            }
        }
        
        .dish-cont__col-2 {
            padding: 0px 10px 10px 0px;
            display: flex;
            transform: all 5s;

            @media (min-width: $breakpoint-desktop) {
                padding: 0px 10px 10px 30px;
            }
            
            
            .dish__price {
                font-size: 12px;
                align-self: flex-end;

                @media (min-width: $breakpoint-tablet) {
                    font-size: 14px;
                }
            }
            
            .dish__checkbox {
                visibility: hidden;
                transform: scaleX(0);
                transition: transform .4s;
            }

            &:hover {
                background-color: $tertiary-color;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;

                .dish__price {
                    display: none;
                }
                
                .dish__checkbox {
                    visibility: visible;
                    display: flex;
                    font-size: 14px;
                    font-weight: 400;
                    background-color: $tertiary-color;
                    color: $tertiary-color;
                    width: 20px;
                    height: 20px;
                    border-color: white;
                    border-style: solid;
                    border-width: 10px;
                    border-radius: 26px;  
                    justify-content: center;
                    transform: scaleX(1) rotate(360deg);
                    transition: transform .2s ease-in .2s;

                    .fa-check {
                        align-self: center;                    
                    }
                }
            }
        }
    }
    
    .dish__container + .dish__container {
        margin: 15px 0px 0px 0px;
    }

    .button__box {
        text-align: center;
        margin: 40px 0px 50px 0px;
        .order {
            padding: 15px 65px 15px 65px;
        }
    }
}


