@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadcircle__anim {
  0% {
    top: 70px;
    left: 65px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 70px;
    left: 65px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}
@keyframes body__load {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader__out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

h1 {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
}

h3 {
  font-size: 24px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 10px 5px 20px;
}

li + li {
  margin: 10px 0px 0px 0px;
}

button {
  border-radius: 50px;
  padding: 12px 25px 12px 25px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  border: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  transition: 0.3s;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  button {
    font-size: 20px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background: #282828;
  color: white;
  margin: 0px;
  padding: 10px 0px 20px 0px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .footer ul {
    column-count: 2;
    column-gap: 10%;
    font-size: 16px;
    width: 75%;
    margin-left: 10%;
  }
  .footer ul a {
    color: white;
  }
}
@media (min-width: 768px) {
  .footer ul li:nth-child(2n):after {
    content: " ";
    display: block;
  }
}
@media (min-width: 768px) {
  .footer .footer__listbox {
    margin: 0 10% 0 10%;
  }
}
.footer .logo__footer {
  width: 25%;
  padding: 15px;
}
.footer .logo__footer .logo {
  object-fit: contain;
  width: 25%;
  height: auto;
}
.footer .fa-solid::before {
  padding: 5px 10px 5px 0px;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.loader {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  animation: loader__out ease-out 2.95s;
  animation-fill-mode: forwards;
}
.loader .loadcircle {
  position: relative;
  width: 160px;
  height: 160px;
}
.loader .loadcircle div {
  position: absolute;
  border: 4px solid #99e2d0;
  opacity: 1;
  border-radius: 50%;
  animation: loadcircle__anim 1.5s ease-in-out infinite;
}
.loader .loadcircle div:nth-child(2) {
  animation-delay: -0.5s;
}

.page__body {
  position: relative;
  animation: body__load ease-in 3s;
}
.page__body .home__logo {
  display: flex;
  justify-content: center;
}
.page__body .home__logo .logo__top {
  margin: 10px 0px 10px 0px;
}
@media (min-width: 768px) {
  .page__body .home__logo .logo__top {
    width: 30%;
  }
}
.page__body .searchbox {
  display: flex;
  background-color: #e0e0e0;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  border-top: solid 3px #c0c0c0;
}
@media (min-width: 768px) {
  .page__body .searchbox {
    font-size: 20px;
  }
}
.page__body .searchbox .search_bar[type=text] {
  border: none;
  background-color: #e0e0e0;
  margin: 0px 0px 0px 20px;
}
.page__body .searchbox .search_bar[type=text]::placeholder {
  color: black;
  font-size: 16px;
}
@media (min-width: 768px) {
  .page__body .searchbox .search_bar[type=text]::placeholder {
    font-size: 20px;
  }
}
.page__body .homehow__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page__body .homehow__wrapper {
    flex-direction: row;
  }
  .page__body .homehow__wrapper h3 {
    text-align: center;
  }
}
.page__body .homehow__wrapper .home__title {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 50px 0px;
}
@media (min-width: 768px) {
  .page__body .homehow__wrapper .home__title {
    width: 49%;
    padding: 0 2% 5% 2%;
    margin: 30px;
    border-radius: 15px;
  }
}
.page__body .homehow__wrapper .home__title p {
  font-size: 18px;
  padding: 0px 40px 20px 40px;
  text-align: center;
  font-weight: 200;
}
@media (min-width: 768px) {
  .page__body .homehow__wrapper .home__title p {
    font-size: 22px;
  }
}
.page__body .homehow__wrapper .howitworks {
  display: flex;
  flex-direction: column;
  padding: 20px 10% 10% 10%;
  margin: 30px 0 30px 0;
}
@media (min-width: 768px) {
  .page__body .homehow__wrapper .howitworks {
    justify-content: center;
    align-content: center;
    width: 49%;
    padding: 0 2% 5% 2%;
    margin: 30px;
    border-radius: 15px;
    background-color: #ece1f9;
  }
}
.page__body .homehow__wrapper .howitworks .how__item {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin: 5px 10px 20px 10px;
  padding: 25px 10px 20px 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.page__body .homehow__wrapper .howitworks .how__item .circle {
  box-sizing: border-box;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 26px;
  position: absolute;
  margin-left: -20px;
  padding: 2px 2px 2px 2px;
  align-self: center;
}
@media (min-width: 768px) {
  .page__body .homehow__wrapper .howitworks .how__item .circle {
    font-size: 18px;
    width: 30px;
    height: 30px;
    padding: 5px 2px 2px 2px;
  }
}
.page__body .homehow__wrapper .howitworks .how__item .how__icon {
  margin: 0px 10px 0px 5%;
  color: #696969;
  font-size: 16px;
}
@media (min-width: 768px) {
  .page__body .homehow__wrapper .howitworks .how__item .how__icon {
    font-size: 18px;
    margin: 0px 5px 0px 8%;
  }
}
.page__body .homehow__wrapper .howitworks .how__item .how__listcopy {
  margin: 0px 10px 0px 10px;
}
@media (min-width: 768px) {
  .page__body .homehow__wrapper .howitworks .how__item .how__listcopy {
    font-size: 18px;
  }
}
.page__body .homehow__wrapper .howitworks .how__item:hover {
  background-color: white;
}
.page__body .homehow__wrapper .howitworks .how__item:hover .how__icon {
  color: #9356dc;
}
.page__body .restaurant__title {
  padding: 60px 30px 0px 0px;
  background-color: #f5f5f5;
  width: 100%;
}
@media (min-width: 768px) {
  .page__body .restaurant__title {
    background-color: white;
  }
}
.page__body .restaurant__title > h3 {
  display: inline;
}
.page__body .restaurants {
  padding: 0px 30px 40px 30px;
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page__body .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
  }
}
.page__body .restaurants .restaurant__card {
  background: white;
  border-radius: 20px;
  margin: 15px 0px 15px 0px;
  padding: 0px;
  font-size: 14px;
  position: relative;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .page__body .restaurants .restaurant__card {
    width: 47%;
  }
}
.page__body .restaurants .restaurant__card .home__imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.page__body .restaurants .restaurant__card .home__imgbox .restaurant__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page__body .restaurants .restaurant__card .newtag {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 25px 5px 25px;
  background-color: #99e2d0;
  color: #278870;
  border-radius: 2px;
}
@media (min-width: 768px) {
  .page__body .restaurants .restaurant__card .newtag {
    padding: 5px 15px 5px 15px;
  }
}
.page__body .restaurants .restaurant__card .restaurantcard__text {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: relative;
}
.page__body .restaurants .restaurant__card .restaurantcard__text .hearts {
  display: flex;
  cursor: pointer;
  font-size: 22px;
}
@media (min-width: 768px) {
  .page__body .restaurants .restaurant__card .restaurantcard__text .hearts {
    font-size: 30px;
  }
}
.page__body .restaurants .restaurant__card .restaurantcard__text .hearts .nonfavorite {
  width: 100%;
  font-weight: 200;
  margin-left: 40%;
}
.page__body .restaurants .restaurant__card .restaurantcard__text .hearts .favorite {
  width: 100%;
  margin-left: -60%;
  opacity: 0;
}
.page__body .restaurants .restaurant__card .restaurantcard__text .hearts .favorite:hover {
  opacity: 1;
  transition: 0.4s;
}
.page__body .restaurants .restaurant__card .restaurantcard__text .hearts .favorite:hover .fa-heart {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ff79da), color-stop(1, #9356dc));
  background-image: gradient(linear, left top, right bottom, color-stop(0, #ff79da), color-stop(1, #9356dc));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.page__body .restaurants .restaurant__card .restaurantcard__text .restaurant__name {
  font-weight: 500;
  font-size: 16px;
}
.page__body .restaurants .restaurant__card .restaurantcard__text .restaurant__city {
  font-weight: 300;
  font-size: 16px;
}
.page__body .restaurants .restaurant__card .restaurantcard__text a {
  padding: 5px 0px 5px 5px;
}
.page__body .restaurants .restaurant__card .restaurantcard__text .hearts {
  position: absolute;
  right: 0;
}

/*# sourceMappingURL=index.css.map */
