* {
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin: 0;
  font-size: 24; /*/ why is this not working? /*/
}

button {
  border-radius: 50px;
  padding: 12px 25px 12px 25px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: none;
}
button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #ff46cc, #782cd3);
  transition: 0.3s;
}

.footer {
  background: #212121;
  color: white;
}
.footer .logo__footer {
  display: flex;
  width: 30%;
  justify-content: start;
}
.footer .logo__footer .logo {
  object-fit: contain;
  width: 30%;
  height: auto;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.home__logo {
  display: flex;
  justify-content: center;
}
.home__logo .logo__top {
  margin: 10px 0px 10px 0px;
}

.searchbox {
  display: flex;
  background-color: #e8e8e8;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  border-top: solid 3px #c0c0c0;
}
.searchbox .search_bar[type=text] {
  border: none;
  background-color: #e8e8e8;
  margin: 0px 0px 0px 20px;
}
.searchbox .search_bar[type=text]::placeholder {
  font-color: black;
  font-size: 16px; /*/why isn't this working?/*/
}

.home__title {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 50px 0px;
}
.home__title h3 {
  line-height: 24px;
  padding: 10px;
}
.home__title p {
  font-size: 18px;
  padding: 0px 40px 0px 40px;
  text-align: center;
  font-weight: 200;
}

.howitworks h3 {
  margin: 30px 0px 20px 20px;
}
.howitworks .how__item {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin: 5px 30px 20px 30px;
  padding: 20px 0px 20px 0px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.howitworks .how__item .circle {
  box-sizing: border-box;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 26px;
  position: absolute;
  margin-left: -10px;
  padding: 2px 0px 0px 0px;
}
.howitworks .how__item .mobile_icon {
  margin: 0px 10px 0px 30px;
}
.howitworks .how__item .how__listcopy {
  margin: 0px 10px 0px 20px;
}
.howitworks .how__item:hover {
  background-color: white; /*/ what's going on here? /*/
}

.restaurants {
  margin: 20px 20px 20px 20px;
}
.restaurants .restaurant__card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  margin: 15px;
  padding: 0px;
  font-size: 14px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.restaurants .restaurant__card .home__imgbox {
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .restaurant__card .home__imgbox .restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.restaurants .restaurant__card .restaurantcard__text .hearts {
  display: flex;
}
.restaurants .restaurant__card .restaurantcard__text .hearts .nonfavorite {
  width: 100%;
  font-size: 22px;
  font-weight: 200;
}
.restaurants .restaurant__card .restaurantcard__text .hearts .favorite {
  width: 100%;
  margin-left: -100%;
  opacity: 0;
  font-size: 22px;
}
.restaurants .restaurant__card .restaurantcard__text .hearts .favorite:hover {
  opacity: 1;
  transition: 0.2s;
}
.restaurants .restaurant__card .restaurantcard__text .hearts .favorite:visited {
  opacity: 1;
}
.restaurants .restaurant__card .restaurantcard__text .restaurant__name {
  font-weight: 500;
}
.restaurants .restaurant__card .restaurantcard__text .restaurant__city {
  font-weight: 200;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.logo__nav {
  display: inline-block;
  width: 100%;
}
.logo__nav .arrow {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}
.logo__nav .logo {
  display: inline-block;
  object-fit: contain;
  text-align: center;
  width: 40%;
  height: auto;
}

.restaurantpage__imgbox {
  display: flex;
  width: 100%;
}
.restaurantpage__imgbox .restaurantpage__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.menu__container {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -45px;
  padding: 0px 10px 0px 10px;
  z-index: 5;
  height: 100vh;
}
.menu__container .menu__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
}
.menu__container .menu__head .menu__name {
  font-family: "Shrikhand", Times, serif;
  font-size: 24px;
}
.menu__container .menu__head .hearts {
  display: flex;
}
.menu__container .menu__head .hearts .nonfavorite {
  width: 100%;
  font-size: 22px;
  font-weight: 200;
}
.menu__container .menu__head .hearts .favorite {
  width: 100%;
  margin-left: -100%;
  opacity: 0;
  font-size: 22px;
}
.menu__container .menu__head .hearts .favorite:hover {
  opacity: 1;
  transition: 0.2s;
}
.menu__container .menu__head .hearts .favorite:visited {
  opacity: 1;
}
.menu__container .menu__subhead {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 0px 5px 0px;
  background: linear-gradient(#99E2D0 0 0) bottom left/7% 2px no-repeat;
}
.menu__container .dish__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin: 5px 0px 5px 0px;
  padding: 0px 0px 10px 0px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.menu__container .dish__container .dish-cont__col-1 {
  padding: 0px 0px 0px 10px;
  flex-direction: column;
}
.menu__container .dish__container .dish-cont__col-1 .dish__name {
  font-size: 14px;
  margin: 10px 0px 0px 0px;
  font-weight: 500;
}
.menu__container .dish__container .dish-cont__col-1 .dish__descript {
  font-size: 12px;
}
.menu__container .dish__container .dish-cont__col-2 {
  padding: 0px 10px 0px 0px;
  display: flex;
}
.menu__container .dish__container .dish-cont__col-2 .dish__price {
  font-size: 12px;
  align-self: flex-end;
}
.menu__container .dish__container .dish-cont__col-2:hover {
  margin-right: 50px;
}
.menu__container .dish__container .dish-cont__col-2 .dish__checkbox {
  opacity: 0;
}
.menu__container .dish__container .dish-cont__col-2:hover {
  display: flex;
  height: 100%;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0px 0px 10px 0px;
}

/*# sourceMappingURL=style.css.map */
