@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadcircle__anim {
  0% {
    top: 70px;
    left: 65px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 70px;
    left: 65px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}
@keyframes body__load {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader__out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

h1 {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
}

h3 {
  font-size: 24px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 10px 5px 20px;
}

li + li {
  margin: 10px 0px 0px 0px;
}

button {
  border-radius: 50px;
  padding: 12px 25px 12px 25px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  border: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #fface8, #ae80e5);
  transition: 0.3s;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  button {
    font-size: 20px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background: #282828;
  color: white;
  margin: 0px;
  padding: 10px 0px 20px 0px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .footer ul {
    column-count: 2;
    column-gap: 10%;
    font-size: 16px;
    width: 75%;
    margin-left: 10%;
  }
  .footer ul a {
    color: white;
  }
}
@media (min-width: 768px) {
  .footer ul li:nth-child(2n):after {
    content: " ";
    display: block;
  }
}
@media (min-width: 768px) {
  .footer .footer__listbox {
    margin: 0 10% 0 10%;
  }
}
.footer .logo__footer {
  width: 25%;
  padding: 15px;
}
.footer .logo__footer .logo {
  object-fit: contain;
  width: 25%;
  height: auto;
}
.footer .fa-solid::before {
  padding: 5px 10px 5px 0px;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.logo__nav {
  display: block;
  position: relative;
  text-align: center;
}
.logo__nav .arrow {
  text-align: left;
  margin-left: 10px;
  position: absolute;
  font-size: 20px;
  top: 12px;
  bottom: 0;
  left: 10px;
}
@media (min-width: 768px) {
  .logo__nav .arrow {
    font-size: 30px;
    top: 15px;
  }
}
@media (min-width: 992px) {
  .logo__nav .arrow {
    top: 15px;
  }
}
.logo__nav .logo {
  object-fit: contain;
  width: 40%;
  height: auto;
  margin: 10px 0px 10px 0px;
}
@media (min-width: 768px) {
  .logo__nav .logo {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .logo__nav .logo {
    width: 18%;
  }
}

.restaurantpage__imgbox {
  display: flex;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .restaurantpage__imgbox {
    position: relative;
  }
}
.restaurantpage__imgbox .restaurantpage__img {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
  z-index: -1;
}
@media (min-width: 768px) {
  .restaurantpage__imgbox .restaurantpage__img {
    max-height: 1200px;
    width: 210%;
  }
}
@media (min-width: 992px) {
  .restaurantpage__imgbox .restaurantpage__img {
    width: 190%;
  }
}
@media (min-width: 1080px) {
  .restaurantpage__imgbox .restaurantpage__img {
    width: 160%;
  }
}

.menu__container {
  display: inline-block;
  flex-direction: column;
  background: #f5f5f5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: -45px 0px 0px 0px;
  padding: 0px 20px 45px 20px;
  z-index: 5;
  width: 100%;
  justify-content: center;
}
@media (min-width: 768px) {
  .menu__container {
    padding: 0px 20px 0px 20px;
    margin: 0px 40px 20px 40px;
    width: 350px;
    height: auto;
    position: absolute;
    top: 12%;
    justify-self: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 992px) {
  .menu__container {
    top: 15%;
    left: 2%;
    width: 500px;
  }
}
.menu__container .menu__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 10px 0px;
}
@media (min-width: 992px) {
  .menu__container .menu__head {
    padding: 20px 10px 10px 20px;
  }
}
.menu__container .menu__head .menu__name h1 {
  font-family: "Shrikhand", Times, serif;
  font-size: 24px;
}
@media (min-width: 768px) {
  .menu__container .menu__head .menu__name {
    font-size: 30px;
    margin: 15px 0 0 0;
  }
}
@media (min-width: 768px) {
  .menu__container .menu__head .hearts {
    margin: 7px 0 0 0;
  }
}
.menu__container .menu__head .hearts {
  display: flex;
  cursor: pointer;
  font-size: 22px;
}
@media (min-width: 768px) {
  .menu__container .menu__head .hearts {
    font-size: 30px;
  }
}
.menu__container .menu__head .hearts .nonfavorite {
  width: 100%;
  font-weight: 200;
  margin-left: 40%;
}
.menu__container .menu__head .hearts .favorite {
  width: 100%;
  margin-left: -60%;
  opacity: 0;
}
.menu__container .menu__head .hearts .favorite:hover {
  opacity: 1;
  transition: 0.4s;
}
.menu__container .menu__head .hearts .favorite:hover .fa-heart {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ff79da), color-stop(1, #9356dc));
  background-image: gradient(linear, left top, right bottom, color-stop(0, #ff79da), color-stop(1, #9356dc));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.menu__container .menu__subhead {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  padding: 20px 0px 5px 0px;
  background: linear-gradient(#99e2d0 0 0) bottom left/10% 2px no-repeat;
}
@media (min-width: 768px) {
  .menu__container .menu__subhead {
    font-size: 16px;
  }
}
.menu__container .dish__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  opacity: 0;
  animation: fadein 3s linear forwards;
  width: 100%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.menu__container .dish__container:nth-of-type(2) {
  animation-delay: 0.2s;
}
.menu__container .dish__container:nth-of-type(3) {
  animation-delay: 0.4s;
}
.menu__container .dish__container:nth-of-type(4) {
  animation-delay: 0.6s;
}
.menu__container .dish__container:nth-of-type(5) {
  animation-delay: 0.8s;
}
.menu__container .dish__container:nth-of-type(6) {
  animation-delay: 1s;
}
.menu__container .dish__container:nth-of-type(7) {
  animation-delay: 1.2s;
}
.menu__container .dish__container:nth-of-type(8) {
  animation-delay: 1.4s;
}
.menu__container .dish__container:nth-of-type(9) {
  animation-delay: 1.6s;
}
.menu__container .dish__container:nth-of-type(10) {
  animation-delay: 1.8s;
}
.menu__container .dish__container:nth-of-type(11) {
  animation-delay: 2s;
}
.menu__container .dish__container .dish-cont__col-1 {
  display: flex;
  padding: 0px 0px 10px 10px;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}
@media (min-width: 992px) {
  .menu__container .dish__container .dish-cont__col-1 {
    padding: 0px 0px 10px 30px;
  }
}
.menu__container .dish__container .dish-cont__col-1 .dish__name {
  font-size: 14px;
  margin: 10px 0px 0px 0px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .menu__container .dish__container .dish-cont__col-1 .dish__name {
    font-size: 16px;
  }
}
.menu__container .dish__container .dish-cont__col-1 .dish__descript {
  font-size: 12px;
  padding: 0px 10px 0px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .menu__container .dish__container .dish-cont__col-1 .dish__descript {
    font-size: 16px;
    padding: 0px 30px 0px 0px;
  }
}
@media (min-width: 992px) {
  .menu__container .dish__container .dish-cont__col-1 .dish__descript {
    padding: 0px 60px 0px 0px;
  }
}
.menu__container .dish__container .dish-cont__col-2 {
  padding: 0px;
  display: flex;
  width: 15%;
  transition: 1s;
  position: relative;
}
.menu__container .dish__container .dish-cont__col-2 .dish__price {
  font-size: 12px;
  align-self: flex-end;
  justify-self: flex-end;
  margin: 0 -50px 10px 0;
  position: absolute;
}
@media (min-width: 768px) {
  .menu__container .dish__container .dish-cont__col-2 .dish__price {
    font-size: 14px;
  }
}
.menu__container .dish__container .dish-cont__col-2 .checkbox__container {
  display: flex;
  align-items: center;
  margin: 0 0 0 40%;
  width: 0%;
}
.menu__container .dish__container .dish-cont__col-2 .checkbox__container .dish__checkbox {
  opacity: 0;
}
.menu__container .dish__container .dish-cont__col-2:hover {
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 10px 0 0;
  cursor: pointer;
}
.menu__container .dish__container .dish-cont__col-2:hover .dish__price {
  display: none;
}
.menu__container .dish__container .dish-cont__col-2:hover .checkbox__container {
  background-color: #99e2d0;
  color: #99e2d0;
}
.menu__container .dish__container .dish-cont__col-2:hover .checkbox__container .dish__checkbox {
  opacity: 1;
  border-color: white;
  border-style: solid;
  border-width: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  display: flex;
}
.menu__container .dish__container .dish-cont__col-2:hover .checkbox__container .dish__checkbox .fa-check {
  transform: rotate(360deg);
  transition: transform 0.3s ease-in 0.4s;
}
.menu__container .dish__container + .dish__container {
  margin: 15px 0px 0px 0px;
}
.menu__container .button__box {
  text-align: center;
  margin: 40px 0px 50px 0px;
}
.menu__container .button__box .order {
  padding: 15px 65px 15px 65px;
}

/*# sourceMappingURL=subpages.css.map */
